html {
  min-height: 100%;
  background-image: url(./img/desert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#load {
  display: none;
}

#container {
  width: 30vw;
  min-width: 350px;
  min-height: 70vh;
  margin: 50px auto;
}

@media (max-width: 576px) {
  #container {
    min-height: 60vh;
  }
}

#input {
  text-align: center;
}

#city {
  width: 250px;
  height: 30px;
  font-size: 25px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 2px;
}

#submit {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #0074d9;
  font-weight: bold;
}

#data {
  display: none;
}

#daynight {
  position: relative;
  top: -15px;
}

#error {
  display: none;
}

#credits span {
  font-size: 12px;
  float: right;
  margin: 10px;
}
